
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?fit=crop&w=1470&q=80') no-repeat center center/cover;
    transition: background 1.2s ease-in-out;
}

.overlay {
    background: rgba(6, 6, 6, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter-card {
    background: rgba(255,255,255,0.1);
    padding: 40px 35px;
    border-radius: 25px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease,
     background 0.5s ease;
}

.converter-card:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #060606;
}
.converter-card h1:hover{
    text-shadow:2px 2px 10px #c2300b;
}
input, select {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1em;
    background: rgba(34, 33, 33, 0.2);
    color: #060606;
}

input::placeholder {
    color: rgba(255,255,255,0.7);
    
}
#unitInput option{
    color: rgb(255, 252, 252);
    background-color: #050505;
}

select {
    cursor: pointer;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg,#ff7e5f,#feb47b);
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.5);
    background-color: aliceblue;
    color: #c2300b;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 12px;
    border-radius: 12px;
    background: rgba(0,0,0,0.25);
    transition: background 0.5s, color 0.5s;
}
